<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nvkkwAoOEeukM93hRv6Zlg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;&#xA;var selected: boolean = false&#xA;var payedEnough: boolean = false&#xA;&#xA;in event CoffeeButton&#xA;in event TeaButton&#xA;in event ExpressoButton&#xA;in event CancelButton&#xA;in event InsertCoin&#xA;in event NFC&#xA;in event EnoughMoneyInserted&#xA;&#xA;out event DisplayMoneyMissing&#xA;out event MoneyInserted&#xA;out event GiveBackMoney&#xA;&#xA;&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="MVP">
    <regions xmi:id="_nvnBAwoOEeukM93hRv6Zlg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nvuVxgoOEeukM93hRv6Zlg">
        <outgoingTransitions xmi:id="_23510AoOEeukM93hRv6Zlg" specification="" target="_1XSXoAoOEeukM93hRv6Zlg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1XSXoAoOEeukM93hRv6Zlg" name="Choice and Payment" incomingTransitions="_23510AoOEeukM93hRv6Zlg">
        <outgoingTransitions xmi:id="_ShLcQBUCEeuhSZx8TONrSg" specification="always [selected &amp;&amp; payedEnough]" target="_RuEkUBUCEeuhSZx8TONrSg"/>
        <regions xmi:id="_1XUz4goOEeukM93hRv6Zlg" name="Choice region">
          <vertices xsi:type="sgraph:State" xmi:id="_uEiRkA-GEeumgJZ1_RcaIg" name="Chosed or not" incomingTransitions="_g9uW4A-HEeumgJZ1_RcaIg _r2B9MA-HEeumgJZ1_RcaIg">
            <outgoingTransitions xmi:id="_82rQMA-GEeumgJZ1_RcaIg" specification="TeaButton, CoffeeButton, ExpressoButton" target="_2F9KUA-GEeumgJZ1_RcaIg"/>
            <outgoingTransitions xmi:id="_r2B9MA-HEeumgJZ1_RcaIg" specification="after 10000ms" target="_uEiRkA-GEeumgJZ1_RcaIg"/>
            <outgoingTransitions xmi:id="_ikX5sA-JEeumgJZ1_RcaIg" specification="InsertCoin, NFC" target="_hgpL0A-JEeumgJZ1_RcaIg"/>
            <regions xmi:id="_uEiRkw-GEeumgJZ1_RcaIg" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_2F9KUA-GEeumgJZ1_RcaIg" specification="entry/selected = true" name="Drink chosed" incomingTransitions="_82rQMA-GEeumgJZ1_RcaIg"/>
              <vertices xsi:type="sgraph:State" xmi:id="_U7nP4A-HEeumgJZ1_RcaIg" specification="entry/selected = false" name="No choice" incomingTransitions="_h1iIoA-HEeumgJZ1_RcaIg"/>
              <vertices xsi:type="sgraph:Entry" xmi:id="_hhLCMA-HEeumgJZ1_RcaIg">
                <outgoingTransitions xmi:id="_h1iIoA-HEeumgJZ1_RcaIg" specification="" target="_U7nP4A-HEeumgJZ1_RcaIg"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_hgpL0A-JEeumgJZ1_RcaIg" name="history" incomingTransitions="_ikX5sA-JEeumgJZ1_RcaIg" kind="SHALLOW_HISTORY"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_gfwogA-HEeumgJZ1_RcaIg">
            <outgoingTransitions xmi:id="_g9uW4A-HEeumgJZ1_RcaIg" specification="" target="_uEiRkA-GEeumgJZ1_RcaIg"/>
          </vertices>
        </regions>
        <regions xmi:id="_1XUz4woOEeukM93hRv6Zlg" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_hQ-_8BT_EeuhSZx8TONrSg" name="Payed or not" incomingTransitions="_-Kfh4BT_EeuhSZx8TONrSg _VmJUABUAEeuhSZx8TONrSg">
            <outgoingTransitions xmi:id="_Sqv54BUAEeuhSZx8TONrSg" specification="InsertCoin" target="_IT_hcBUAEeuhSZx8TONrSg"/>
            <outgoingTransitions xmi:id="_VmJUABUAEeuhSZx8TONrSg" specification="after 10000ms/raise GiveBackMoney" target="_hQ-_8BT_EeuhSZx8TONrSg"/>
            <outgoingTransitions xmi:id="_ysSjwBUAEeuhSZx8TONrSg" specification="EnoughMoneyInserted, NFC" target="_drK6YBUAEeuhSZx8TONrSg"/>
            <regions xmi:id="_hRAOEBT_EeuhSZx8TONrSg" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_9kpaoAoOEeukM93hRv6Zlg" specification="entry/payedEnough=false" name="No money" incomingTransitions="_1x1N0BT_EeuhSZx8TONrSg"/>
              <vertices xsi:type="sgraph:Entry" xmi:id="_CmdHoAoPEeukM93hRv6Zlg">
                <outgoingTransitions xmi:id="_1x1N0BT_EeuhSZx8TONrSg" specification="" target="_9kpaoAoOEeukM93hRv6Zlg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_IT_hcBUAEeuhSZx8TONrSg" name="Money inserted" incomingTransitions="_Sqv54BUAEeuhSZx8TONrSg"/>
              <vertices xsi:type="sgraph:State" xmi:id="_drK6YBUAEeuhSZx8TONrSg" specification="entry/payedEnough=true" name="Enough money" incomingTransitions="_ysSjwBUAEeuhSZx8TONrSg"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_vCKQ0BT_EeuhSZx8TONrSg">
            <outgoingTransitions xmi:id="_-Kfh4BT_EeuhSZx8TONrSg" specification="" target="_hQ-_8BT_EeuhSZx8TONrSg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RuEkUBUCEeuhSZx8TONrSg" name="WIN" incomingTransitions="_ShLcQBUCEeuhSZx8TONrSg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nvnBAAoOEeukM93hRv6Zlg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nvkkwAoOEeukM93hRv6Zlg" measurementUnit="Pixel">
    <children xmi:id="_nvpdQAoOEeukM93hRv6Zlg" type="Region" element="_nvnBAwoOEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nvuVwAoOEeukM93hRv6Zlg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nvuVwQoOEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nvuVwgoOEeukM93hRv6Zlg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nvuVwwoOEeukM93hRv6Zlg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nvuVxwoOEeukM93hRv6Zlg" type="Entry" element="_nvuVxgoOEeukM93hRv6Zlg">
          <children xmi:id="_nvwyAAoOEeukM93hRv6Zlg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nvwyAwoOEeukM93hRv6Zlg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nvwyBAoOEeukM93hRv6Zlg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nvwyBQoOEeukM93hRv6Zlg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nvwyAQoOEeukM93hRv6Zlg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvwyAgoOEeukM93hRv6Zlg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nvuVyAoOEeukM93hRv6Zlg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nvuVyQoOEeukM93hRv6Zlg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvwyBgoOEeukM93hRv6Zlg" x="3" y="56" width="15" height="15"/>
        </children>
        <children xmi:id="_1XXQIAoOEeukM93hRv6Zlg" type="State" element="_1XSXoAoOEeukM93hRv6Zlg">
          <children xsi:type="notation:DecorationNode" xmi:id="_1XXQJAoOEeukM93hRv6Zlg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1XXQJQoOEeukM93hRv6Zlg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1XXQJgoOEeukM93hRv6Zlg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1XXQJwoOEeukM93hRv6Zlg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_1XXQKAoOEeukM93hRv6Zlg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1XXQKQoOEeukM93hRv6Zlg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1XXQKgoOEeukM93hRv6Zlg" type="StateFigureCompartment">
            <children xmi:id="_tiWxkA-GEeumgJZ1_RcaIg" type="Region" element="_1XUz4goOEeukM93hRv6Zlg">
              <children xsi:type="notation:DecorationNode" xmi:id="_tiWxkQ-GEeumgJZ1_RcaIg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_tiWxkg-GEeumgJZ1_RcaIg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_tiWxkw-GEeumgJZ1_RcaIg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_tiWxlA-GEeumgJZ1_RcaIg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_uEi4oA-GEeumgJZ1_RcaIg" type="State" element="_uEiRkA-GEeumgJZ1_RcaIg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uEi4pA-GEeumgJZ1_RcaIg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uEi4pQ-GEeumgJZ1_RcaIg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uEi4pg-GEeumgJZ1_RcaIg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uEjfsA-GEeumgJZ1_RcaIg" type="StateTextCompartment" collapsed="true">
                    <children xsi:type="notation:Shape" xmi:id="_uEjfsQ-GEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uEjfsg-GEeumgJZ1_RcaIg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uEjfsw-GEeumgJZ1_RcaIg" type="StateFigureCompartment">
                    <children xmi:id="_zkPbgA-GEeumgJZ1_RcaIg" type="Region" element="_uEiRkw-GEeumgJZ1_RcaIg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_zkPbgQ-GEeumgJZ1_RcaIg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_zkPbgg-GEeumgJZ1_RcaIg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_zkPbgw-GEeumgJZ1_RcaIg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_zkPbhA-GEeumgJZ1_RcaIg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_2F9KUw-GEeumgJZ1_RcaIg" type="State" element="_2F9KUA-GEeumgJZ1_RcaIg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_2F9KVw-GEeumgJZ1_RcaIg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_2F9KWA-GEeumgJZ1_RcaIg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_2F9KWQ-GEeumgJZ1_RcaIg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_2F9KWg-GEeumgJZ1_RcaIg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_2F9KWw-GEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2F9KXA-GEeumgJZ1_RcaIg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_2F9KXQ-GEeumgJZ1_RcaIg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_2F9KVA-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_2F9KVQ-GEeumgJZ1_RcaIg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2F9KXg-GEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2F9KVg-GEeumgJZ1_RcaIg" x="329" y="1" width="158" height="53"/>
                        </children>
                        <children xmi:id="_U7wZ0A-HEeumgJZ1_RcaIg" type="State" element="_U7nP4A-HEeumgJZ1_RcaIg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_U7wZ1A-HEeumgJZ1_RcaIg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_U7wZ1Q-HEeumgJZ1_RcaIg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_U7wZ1g-HEeumgJZ1_RcaIg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_U7wZ1w-HEeumgJZ1_RcaIg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_U7wZ2A-HEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U7wZ2Q-HEeumgJZ1_RcaIg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_U7wZ2g-HEeumgJZ1_RcaIg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_U7wZ0Q-HEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_U7wZ0g-HEeumgJZ1_RcaIg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U7wZ2w-HEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U7wZ0w-HEeumgJZ1_RcaIg" x="34" y="1" width="162" height="53"/>
                        </children>
                        <children xmi:id="_hhLCMQ-HEeumgJZ1_RcaIg" type="Entry" element="_hhLCMA-HEeumgJZ1_RcaIg">
                          <children xmi:id="_hhLCNQ-HEeumgJZ1_RcaIg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_hhLCOA-HEeumgJZ1_RcaIg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_hhLCOQ-HEeumgJZ1_RcaIg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_hhLCOg-HEeumgJZ1_RcaIg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hhLCNg-HEeumgJZ1_RcaIg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hhLCNw-HEeumgJZ1_RcaIg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hhLCMg-HEeumgJZ1_RcaIg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_hhLCMw-HEeumgJZ1_RcaIg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hhLCNA-HEeumgJZ1_RcaIg" x="-4" y="23"/>
                        </children>
                        <children xmi:id="_hgpL0Q-JEeumgJZ1_RcaIg" type="ShallowHistory" element="_hgpL0A-JEeumgJZ1_RcaIg">
                          <children xmi:id="_hgpy4A-JEeumgJZ1_RcaIg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_hgpy4w-JEeumgJZ1_RcaIg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_hgpy5A-JEeumgJZ1_RcaIg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_hgpy5Q-JEeumgJZ1_RcaIg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hgpy4Q-JEeumgJZ1_RcaIg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hgpy4g-JEeumgJZ1_RcaIg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hgpL0g-JEeumgJZ1_RcaIg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_hgpL0w-JEeumgJZ1_RcaIg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hgpL1A-JEeumgJZ1_RcaIg" x="93" y="137" width="15" height="15"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zkPbhQ-GEeumgJZ1_RcaIg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_zkPbhg-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zkPbhw-GEeumgJZ1_RcaIg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uEi4oQ-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uEi4og-GEeumgJZ1_RcaIg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uEjftA-GEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uEi4ow-GEeumgJZ1_RcaIg" x="174" y="10" width="563" height="287"/>
                </children>
                <children xmi:id="_gfxPkA-HEeumgJZ1_RcaIg" type="Entry" element="_gfwogA-HEeumgJZ1_RcaIg">
                  <children xmi:id="_gfx2oA-HEeumgJZ1_RcaIg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_gfx2ow-HEeumgJZ1_RcaIg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_gfx2pA-HEeumgJZ1_RcaIg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_gfx2pQ-HEeumgJZ1_RcaIg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gfx2oQ-HEeumgJZ1_RcaIg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gfx2og-HEeumgJZ1_RcaIg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gfxPkQ-HEeumgJZ1_RcaIg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_gfxPkg-HEeumgJZ1_RcaIg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gfxPkw-HEeumgJZ1_RcaIg" x="80" y="92" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tiWxzw-GEeumgJZ1_RcaIg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tiWx0A-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tiWx0Q-GEeumgJZ1_RcaIg"/>
            </children>
            <children xmi:id="_hPB50AoXEeukM93hRv6Zlg" type="Region" element="_1XUz4woOEeukM93hRv6Zlg">
              <children xsi:type="notation:DecorationNode" xmi:id="_hPB50QoXEeukM93hRv6Zlg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB50goXEeukM93hRv6Zlg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_hPB50woXEeukM93hRv6Zlg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_hPB51AoXEeukM93hRv6Zlg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_hRCDQBT_EeuhSZx8TONrSg" type="State" element="_hQ-_8BT_EeuhSZx8TONrSg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hRDRYBT_EeuhSZx8TONrSg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hRDRYRT_EeuhSZx8TONrSg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hRDRYhT_EeuhSZx8TONrSg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hRDRYxT_EeuhSZx8TONrSg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hRD4cBT_EeuhSZx8TONrSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hRD4cRT_EeuhSZx8TONrSg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hRD4chT_EeuhSZx8TONrSg" type="StateFigureCompartment">
                    <children xmi:id="_qvjMIBT_EeuhSZx8TONrSg" type="Region" element="_hRAOEBT_EeuhSZx8TONrSg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_qvjMIRT_EeuhSZx8TONrSg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_qvjMIhT_EeuhSZx8TONrSg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_qvjMIxT_EeuhSZx8TONrSg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_qvjMJBT_EeuhSZx8TONrSg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_hPB51QoXEeukM93hRv6Zlg" type="State" element="_9kpaoAoOEeukM93hRv6Zlg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_hPB51goXEeukM93hRv6Zlg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB51woXEeukM93hRv6Zlg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_hPB52AoXEeukM93hRv6Zlg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hPB52QoXEeukM93hRv6Zlg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_hPB52goXEeukM93hRv6Zlg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB52woXEeukM93hRv6Zlg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hPB53AoXEeukM93hRv6Zlg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB53QoXEeukM93hRv6Zlg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_hPB53goXEeukM93hRv6Zlg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hPB53woXEeukM93hRv6Zlg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB54AoXEeukM93hRv6Zlg" x="113" width="189" height="55"/>
                        </children>
                        <children xmi:id="_hPB54QoXEeukM93hRv6Zlg" type="Entry" element="_CmdHoAoPEeukM93hRv6Zlg">
                          <children xmi:id="_hPB54goXEeukM93hRv6Zlg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_hPB54woXEeukM93hRv6Zlg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB55AoXEeukM93hRv6Zlg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_hPB55QoXEeukM93hRv6Zlg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB55goXEeukM93hRv6Zlg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB55woXEeukM93hRv6Zlg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB56AoXEeukM93hRv6Zlg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_hPB56QoXEeukM93hRv6Zlg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB56goXEeukM93hRv6Zlg" x="58" y="20" width="15" height="15"/>
                        </children>
                        <children xmi:id="_IT_hcxUAEeuhSZx8TONrSg" type="State" element="_IT_hcBUAEeuhSZx8TONrSg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_IT_hdxUAEeuhSZx8TONrSg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_IT_heBUAEeuhSZx8TONrSg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_IT_heRUAEeuhSZx8TONrSg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_IT_hehUAEeuhSZx8TONrSg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_IUB9sBUAEeuhSZx8TONrSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IUB9sRUAEeuhSZx8TONrSg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_IUB9shUAEeuhSZx8TONrSg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_IT_hdBUAEeuhSZx8TONrSg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_IT_hdRUAEeuhSZx8TONrSg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_IUB9sxUAEeuhSZx8TONrSg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IT_hdhUAEeuhSZx8TONrSg" x="343" y="1" width="115" height="53"/>
                        </children>
                        <children xmi:id="_drK6YxUAEeuhSZx8TONrSg" type="State" element="_drK6YBUAEeuhSZx8TONrSg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_drK6ZxUAEeuhSZx8TONrSg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_drK6aBUAEeuhSZx8TONrSg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_drK6aRUAEeuhSZx8TONrSg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_drK6ahUAEeuhSZx8TONrSg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_drK6axUAEeuhSZx8TONrSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_drK6bBUAEeuhSZx8TONrSg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_drNWoBUAEeuhSZx8TONrSg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_drK6ZBUAEeuhSZx8TONrSg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_drK6ZRUAEeuhSZx8TONrSg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_drNWoRUAEeuhSZx8TONrSg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_drK6ZhUAEeuhSZx8TONrSg" x="514" y="2" width="184" height="53"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qvjMJRT_EeuhSZx8TONrSg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_qvjMJhT_EeuhSZx8TONrSg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qvjMJxT_EeuhSZx8TONrSg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hRCDQRT_EeuhSZx8TONrSg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hRCDQhT_EeuhSZx8TONrSg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hRD4cxT_EeuhSZx8TONrSg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hRCDQxT_EeuhSZx8TONrSg" x="95" y="11" width="821" height="288"/>
                </children>
                <children xmi:id="_vCKQ0RT_EeuhSZx8TONrSg" type="Entry" element="_vCKQ0BT_EeuhSZx8TONrSg">
                  <children xmi:id="_vCMtEBT_EeuhSZx8TONrSg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_vCMtExT_EeuhSZx8TONrSg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_vCMtFBT_EeuhSZx8TONrSg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_vCMtFRT_EeuhSZx8TONrSg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_vCMtERT_EeuhSZx8TONrSg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vCMtEhT_EeuhSZx8TONrSg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_vCKQ0hT_EeuhSZx8TONrSg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_vCKQ0xT_EeuhSZx8TONrSg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vCKQ1BT_EeuhSZx8TONrSg" x="41" y="67" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB6AAoXEeukM93hRv6Zlg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB6AQoXEeukM93hRv6Zlg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB6AgoXEeukM93hRv6Zlg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1XXQIQoOEeukM93hRv6Zlg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1XXQIgoOEeukM93hRv6Zlg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1XXQKwoOEeukM93hRv6Zlg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1XXQIwoOEeukM93hRv6Zlg" x="54" width="2042" height="469"/>
        </children>
        <children xmi:id="_RuFLYBUCEeuhSZx8TONrSg" type="State" element="_RuEkUBUCEeuhSZx8TONrSg">
          <children xsi:type="notation:DecorationNode" xmi:id="_RuFLZBUCEeuhSZx8TONrSg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RuFLZRUCEeuhSZx8TONrSg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RuFLZhUCEeuhSZx8TONrSg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RuFLZxUCEeuhSZx8TONrSg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RuFycBUCEeuhSZx8TONrSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RuFycRUCEeuhSZx8TONrSg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RuFychUCEeuhSZx8TONrSg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RuFLYRUCEeuhSZx8TONrSg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RuFLYhUCEeuhSZx8TONrSg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RuFycxUCEeuhSZx8TONrSg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RuFLYxUCEeuhSZx8TONrSg" x="990" y="592" width="44" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvuVxAoOEeukM93hRv6Zlg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nvpdQQoOEeukM93hRv6Zlg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvuVxQoOEeukM93hRv6Zlg" x="5" y="-5" width="2160" height="1114"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nvzORwoOEeukM93hRv6Zlg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nvzOSQoOEeukM93hRv6Zlg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nvzOSgoOEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nvzOSwoOEeukM93hRv6Zlg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nvzOTAoOEeukM93hRv6Zlg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvzOTQoOEeukM93hRv6Zlg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvzOTgoOEeukM93hRv6Zlg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nvnBAQoOEeukM93hRv6Zlg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nvnBAgoOEeukM93hRv6Zlg"/>
    <edges xmi:id="_23510QoOEeukM93hRv6Zlg" type="Transition" element="_23510AoOEeukM93hRv6Zlg" source="_nvuVxwoOEeukM93hRv6Zlg" target="_1XXQIAoOEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="_23511QoOEeukM93hRv6Zlg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_23511goOEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_23511woOEeukM93hRv6Zlg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_23510goOEeukM93hRv6Zlg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_23511AoOEeukM93hRv6Zlg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_23510woOEeukM93hRv6Zlg" points="[-2, 1, -112, 47]$[36, 1, -74, 47]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_238SEAoOEeukM93hRv6Zlg" id="(1.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_238SEQoOEeukM93hRv6Zlg" id="(0.03635391918220201,0.030497507956524346)"/>
    </edges>
    <edges xmi:id="_82rQMQ-GEeumgJZ1_RcaIg" type="Transition" element="_82rQMA-GEeumgJZ1_RcaIg" source="_uEi4oA-GEeumgJZ1_RcaIg" target="_2F9KUw-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_82rQNQ-GEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_82rQNg-GEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_82rQNw-GEeumgJZ1_RcaIg" x="46" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_82rQMg-GEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_82rQNA-GEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_82rQMw-GEeumgJZ1_RcaIg" points="[13, 0, 0, 200]$[13, -173, 0, 27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_82rQOA-GEeumgJZ1_RcaIg" id="(0.751207729468599,1.0)"/>
    </edges>
    <edges xmi:id="_g9uW4Q-HEeumgJZ1_RcaIg" type="Transition" element="_g9uW4A-HEeumgJZ1_RcaIg" source="_gfxPkA-HEeumgJZ1_RcaIg" target="_uEi4oA-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_g9u98A-HEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g9u98Q-HEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g9u98g-HEeumgJZ1_RcaIg" x="-16" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g9uW4g-HEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g9uW5A-HEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g9uW4w-HEeumgJZ1_RcaIg" points="[13, 5, -82, 4]$[94, 5, -1, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g9vlAA-HEeumgJZ1_RcaIg" id="(0.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g9vlAQ-HEeumgJZ1_RcaIg" id="(0.002355712603062426,0.30313588850174217)"/>
    </edges>
    <edges xmi:id="_h1iIoQ-HEeumgJZ1_RcaIg" type="Transition" element="_h1iIoA-HEeumgJZ1_RcaIg" source="_hhLCMQ-HEeumgJZ1_RcaIg" target="_U7wZ0A-HEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_h1ivsA-HEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h1ivsQ-HEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h1ivsg-HEeumgJZ1_RcaIg" x="7" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h1iIog-HEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h1iIpA-HEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h1iIow-HEeumgJZ1_RcaIg" points="[-2, -3, -25, -1]$[23, -3, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h1jWwA-HEeumgJZ1_RcaIg" id="(1.0,0.6)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h1jWwQ-HEeumgJZ1_RcaIg" id="(0.0,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_r2B9MQ-HEeumgJZ1_RcaIg" type="Transition" element="_r2B9MA-HEeumgJZ1_RcaIg" source="_uEi4oA-GEeumgJZ1_RcaIg" target="_uEi4oA-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_r2B9NQ-HEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r2B9Ng-HEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r2B9Nw-HEeumgJZ1_RcaIg" x="46" y="48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r2B9Mg-HEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r2B9NA-HEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r2B9Mw-HEeumgJZ1_RcaIg" points="[382, -76, 402, -76]$[455, -76, 475, -76]$[455, 44, 475, 44]$[359, 44, 379, 44]$[359, 0, 379, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r2B9OA-HEeumgJZ1_RcaIg" id="(0.32254697286012524,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r2B9OQ-HEeumgJZ1_RcaIg" id="(0.2860125260960334,1.0)"/>
    </edges>
    <edges xmi:id="_ikYgwA-JEeumgJZ1_RcaIg" type="Transition" element="_ikX5sA-JEeumgJZ1_RcaIg" source="_uEi4oA-GEeumgJZ1_RcaIg" target="_hgpL0Q-JEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ikYgxA-JEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ikYgxQ-JEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ikYgxg-JEeumgJZ1_RcaIg" x="4" y="57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ikYgwQ-JEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ikYgww-JEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ikYgwg-JEeumgJZ1_RcaIg" points="[-149, 0, 1, 78]$[-149, -76, 1, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ikZu4A-JEeumgJZ1_RcaIg" id="(0.49023090586145646,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ikZu4Q-JEeumgJZ1_RcaIg" id="(0.4,0.8)"/>
    </edges>
    <edges xmi:id="_1x1N0RT_EeuhSZx8TONrSg" type="Transition" element="_1x1N0BT_EeuhSZx8TONrSg" source="_hPB54QoXEeukM93hRv6Zlg" target="_hPB51QoXEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="_1x1N1RT_EeuhSZx8TONrSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1x1N1hT_EeuhSZx8TONrSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1x1N1xT_EeuhSZx8TONrSg" x="17" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1x1N0hT_EeuhSZx8TONrSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1x1N1BT_EeuhSZx8TONrSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1x1N0xT_EeuhSZx8TONrSg" points="[-2, 0, -45, 13]$[40, 0, -3, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1x3qEBT_EeuhSZx8TONrSg" id="(1.0,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1x3qERT_EeuhSZx8TONrSg" id="(0.020134228187919462,0.23636363636363636)"/>
    </edges>
    <edges xmi:id="_-Kfh4RT_EeuhSZx8TONrSg" type="Transition" element="_-Kfh4BT_EeuhSZx8TONrSg" source="_vCKQ0RT_EeuhSZx8TONrSg" target="_hRCDQBT_EeuhSZx8TONrSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-Kfh5RT_EeuhSZx8TONrSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-Kfh5hT_EeuhSZx8TONrSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-Kfh5xT_EeuhSZx8TONrSg" x="-6" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-Kfh4hT_EeuhSZx8TONrSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-Kfh5BT_EeuhSZx8TONrSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-Kfh4xT_EeuhSZx8TONrSg" points="[13, 5, -47, 42]$[54, 5, -6, 42]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-Kh-IBT_EeuhSZx8TONrSg" id="(0.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-Kh-IRT_EeuhSZx8TONrSg" id="(0.008206330597889801,0.08544303797468354)"/>
    </edges>
    <edges xmi:id="_Sqv54RUAEeuhSZx8TONrSg" type="Transition" element="_Sqv54BUAEeuhSZx8TONrSg" source="_hRCDQBT_EeuhSZx8TONrSg" target="_IT_hcxUAEeuhSZx8TONrSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Sqv55RUAEeuhSZx8TONrSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Sqv55hUAEeuhSZx8TONrSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Sqv55xUAEeuhSZx8TONrSg" x="-10" y="-33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Sqv54hUAEeuhSZx8TONrSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Sqv55BUAEeuhSZx8TONrSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Sqv54xUAEeuhSZx8TONrSg" points="[-302, 0, -50, 173]$[-302, -167, -50, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SqyWIBUAEeuhSZx8TONrSg" id="(0.8851113716295428,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SqyWIRUAEeuhSZx8TONrSg" id="(0.991304347826087,0.8867924528301887)"/>
    </edges>
    <edges xmi:id="_VmJUARUAEeuhSZx8TONrSg" type="Transition" element="_VmJUABUAEeuhSZx8TONrSg" source="_hRCDQBT_EeuhSZx8TONrSg" target="_hRCDQBT_EeuhSZx8TONrSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_VmJUBRUAEeuhSZx8TONrSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VmJUBhUAEeuhSZx8TONrSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VmJUBxUAEeuhSZx8TONrSg" x="43" y="3"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VmJUAhUAEeuhSZx8TONrSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VmJUBBUAEeuhSZx8TONrSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VmJUAxUAEeuhSZx8TONrSg" points="[736, 210, 2, 12]$[799, 210, 65, 12]$[799, 335, 65, 137]$[705, 335, -29, 137]$[705, 288, -29, 90]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VmLwQBUAEeuhSZx8TONrSg" id="(0.10433763188745604,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VmLwQRUAEeuhSZx8TONrSg" id="(0.9976553341148886,0.689873417721519)"/>
    </edges>
    <edges xmi:id="_ysTK0BUAEeuhSZx8TONrSg" type="Transition" element="_ysSjwBUAEeuhSZx8TONrSg" source="_hRCDQBT_EeuhSZx8TONrSg" target="_drK6YxUAEeuhSZx8TONrSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ysTK1BUAEeuhSZx8TONrSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ysTK1RUAEeuhSZx8TONrSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ysTK1hUAEeuhSZx8TONrSg" x="6" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ysTK0RUAEeuhSZx8TONrSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ysTK0xUAEeuhSZx8TONrSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ysTK0hUAEeuhSZx8TONrSg" points="[-73, 0, -12, 173]$[-73, -166, -12, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ysUY8BUAEeuhSZx8TONrSg" id="(0.8429073856975381,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ysUY8RUAEeuhSZx8TONrSg" id="(0.5434782608695652,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_ShLcQRUCEeuhSZx8TONrSg" type="Transition" element="_ShLcQBUCEeuhSZx8TONrSg" source="_1XXQIAoOEeukM93hRv6Zlg" target="_RuFLYBUCEeuhSZx8TONrSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ShMDURUCEeuhSZx8TONrSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ShMDUhUCEeuhSZx8TONrSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ShMDUxUCEeuhSZx8TONrSg" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ShLcQhUCEeuhSZx8TONrSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ShMDUBUCEeuhSZx8TONrSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ShLcQxUCEeuhSZx8TONrSg" points="[-2, 0, 12, -131]$[-2, 123, 12, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ShNRcBUCEeuhSZx8TONrSg" id="(0.47600391772771794,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ShNRcRUCEeuhSZx8TONrSg" id="(0.5,0.1509433962264151)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
