<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nvkkwAoOEeukM93hRv6Zlg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;&#xA;var currentMoney: integer = -1&#xA;var targetMoney: integer = 0&#xA;var selected: boolean = false&#xA;var payedEnough: boolean = false&#xA;&#xA;&#xA;in event CoffeeButton&#xA;in event TeaButton&#xA;in event ExpressoButton&#xA;in event CancelButton&#xA;in event InsertCoin&#xA;in event NFC&#xA;&#xA;out event DisplayMoneyMissing&#xA;out event MoneyInserted&#xA;&#xA;&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="MVP">
    <regions xmi:id="_nvnBAwoOEeukM93hRv6Zlg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nvuVxgoOEeukM93hRv6Zlg">
        <outgoingTransitions xmi:id="_23510AoOEeukM93hRv6Zlg" specification="" target="_1XSXoAoOEeukM93hRv6Zlg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1XSXoAoOEeukM93hRv6Zlg" name="Choice and Payment" incomingTransitions="_23510AoOEeukM93hRv6Zlg">
        <outgoingTransitions xmi:id="__xIEkA-FEeuZiPEv90iBGA" specification="[selected &amp;&amp; payedEnough]" target="_L3-nQAoYEeukM93hRv6Zlg"/>
        <regions xmi:id="_1XUz4goOEeukM93hRv6Zlg" name="Choice region">
          <vertices xsi:type="sgraph:State" xmi:id="_uEiRkA-GEeumgJZ1_RcaIg" name="Chosed or not" incomingTransitions="_g9uW4A-HEeumgJZ1_RcaIg _r2B9MA-HEeumgJZ1_RcaIg">
            <outgoingTransitions xmi:id="_82rQMA-GEeumgJZ1_RcaIg" specification="TeaButton, CoffeeButton, ExpressoButton" target="_2F9KUA-GEeumgJZ1_RcaIg"/>
            <outgoingTransitions xmi:id="_r2B9MA-HEeumgJZ1_RcaIg" specification="after 5000ms" target="_uEiRkA-GEeumgJZ1_RcaIg"/>
            <outgoingTransitions xmi:id="_ikX5sA-JEeumgJZ1_RcaIg" specification="InsertCoin, NFC" target="_hgpL0A-JEeumgJZ1_RcaIg"/>
            <regions xmi:id="_uEiRkw-GEeumgJZ1_RcaIg" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_2F9KUA-GEeumgJZ1_RcaIg" specification="entry/selected = true" name="DrinkChosed" incomingTransitions="_82rQMA-GEeumgJZ1_RcaIg _bMYYcA-JEeumgJZ1_RcaIg"/>
              <vertices xsi:type="sgraph:State" xmi:id="_U7nP4A-HEeumgJZ1_RcaIg" specification="entry/selected = false" name="No choice" incomingTransitions="_h1iIoA-HEeumgJZ1_RcaIg">
                <outgoingTransitions xmi:id="_bMYYcA-JEeumgJZ1_RcaIg" specification="TeaButton, CoffeeButton, ExpressoButton" target="_2F9KUA-GEeumgJZ1_RcaIg"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_hhLCMA-HEeumgJZ1_RcaIg">
                <outgoingTransitions xmi:id="_h1iIoA-HEeumgJZ1_RcaIg" specification="" target="_U7nP4A-HEeumgJZ1_RcaIg"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_hgpL0A-JEeumgJZ1_RcaIg" name="history" incomingTransitions="_ikX5sA-JEeumgJZ1_RcaIg" kind="SHALLOW_HISTORY"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_gfwogA-HEeumgJZ1_RcaIg">
            <outgoingTransitions xmi:id="_g9uW4A-HEeumgJZ1_RcaIg" specification="" target="_uEiRkA-GEeumgJZ1_RcaIg"/>
          </vertices>
        </regions>
        <regions xmi:id="_1XUz4woOEeukM93hRv6Zlg" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_9kpaoAoOEeukM93hRv6Zlg" specification="entry/payedEnough = false" name="Not enough" incomingTransitions="_DH9SMAoPEeukM93hRv6Zlg">
            <outgoingTransitions xmi:id="_RW9S0A-GEeumgJZ1_RcaIg" specification="NFC" target="_QviGcA-GEeumgJZ1_RcaIg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_CmdHoAoPEeukM93hRv6Zlg">
            <outgoingTransitions xmi:id="_DH9SMAoPEeukM93hRv6Zlg" specification="" target="_9kpaoAoOEeukM93hRv6Zlg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_QviGcA-GEeumgJZ1_RcaIg" name="Enough" incomingTransitions="_RW9S0A-GEeumgJZ1_RcaIg"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L3-nQAoYEeukM93hRv6Zlg" name="WIN" incomingTransitions="__xIEkA-FEeuZiPEv90iBGA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nvnBAAoOEeukM93hRv6Zlg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nvkkwAoOEeukM93hRv6Zlg" measurementUnit="Pixel">
    <children xmi:id="_nvpdQAoOEeukM93hRv6Zlg" type="Region" element="_nvnBAwoOEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nvuVwAoOEeukM93hRv6Zlg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nvuVwQoOEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nvuVwgoOEeukM93hRv6Zlg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nvuVwwoOEeukM93hRv6Zlg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nvuVxwoOEeukM93hRv6Zlg" type="Entry" element="_nvuVxgoOEeukM93hRv6Zlg">
          <children xmi:id="_nvwyAAoOEeukM93hRv6Zlg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nvwyAwoOEeukM93hRv6Zlg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nvwyBAoOEeukM93hRv6Zlg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nvwyBQoOEeukM93hRv6Zlg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nvwyAQoOEeukM93hRv6Zlg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvwyAgoOEeukM93hRv6Zlg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nvuVyAoOEeukM93hRv6Zlg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nvuVyQoOEeukM93hRv6Zlg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvwyBgoOEeukM93hRv6Zlg" x="3" y="56" width="15" height="15"/>
        </children>
        <children xmi:id="_1XXQIAoOEeukM93hRv6Zlg" type="State" element="_1XSXoAoOEeukM93hRv6Zlg">
          <children xsi:type="notation:DecorationNode" xmi:id="_1XXQJAoOEeukM93hRv6Zlg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1XXQJQoOEeukM93hRv6Zlg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1XXQJgoOEeukM93hRv6Zlg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1XXQJwoOEeukM93hRv6Zlg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_1XXQKAoOEeukM93hRv6Zlg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1XXQKQoOEeukM93hRv6Zlg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1XXQKgoOEeukM93hRv6Zlg" type="StateFigureCompartment">
            <children xmi:id="_tiWxkA-GEeumgJZ1_RcaIg" type="Region" element="_1XUz4goOEeukM93hRv6Zlg">
              <children xsi:type="notation:DecorationNode" xmi:id="_tiWxkQ-GEeumgJZ1_RcaIg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_tiWxkg-GEeumgJZ1_RcaIg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_tiWxkw-GEeumgJZ1_RcaIg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_tiWxlA-GEeumgJZ1_RcaIg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_uEi4oA-GEeumgJZ1_RcaIg" type="State" element="_uEiRkA-GEeumgJZ1_RcaIg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uEi4pA-GEeumgJZ1_RcaIg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uEi4pQ-GEeumgJZ1_RcaIg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uEi4pg-GEeumgJZ1_RcaIg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uEjfsA-GEeumgJZ1_RcaIg" type="StateTextCompartment" collapsed="true">
                    <children xsi:type="notation:Shape" xmi:id="_uEjfsQ-GEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uEjfsg-GEeumgJZ1_RcaIg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uEjfsw-GEeumgJZ1_RcaIg" type="StateFigureCompartment">
                    <children xmi:id="_zkPbgA-GEeumgJZ1_RcaIg" type="Region" element="_uEiRkw-GEeumgJZ1_RcaIg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_zkPbgQ-GEeumgJZ1_RcaIg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_zkPbgg-GEeumgJZ1_RcaIg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_zkPbgw-GEeumgJZ1_RcaIg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_zkPbhA-GEeumgJZ1_RcaIg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_2F9KUw-GEeumgJZ1_RcaIg" type="State" element="_2F9KUA-GEeumgJZ1_RcaIg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_2F9KVw-GEeumgJZ1_RcaIg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_2F9KWA-GEeumgJZ1_RcaIg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_2F9KWQ-GEeumgJZ1_RcaIg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_2F9KWg-GEeumgJZ1_RcaIg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_2F9KWw-GEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2F9KXA-GEeumgJZ1_RcaIg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_2F9KXQ-GEeumgJZ1_RcaIg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_2F9KVA-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_2F9KVQ-GEeumgJZ1_RcaIg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2F9KXg-GEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2F9KVg-GEeumgJZ1_RcaIg" x="329" y="1" width="158" height="53"/>
                        </children>
                        <children xmi:id="_U7wZ0A-HEeumgJZ1_RcaIg" type="State" element="_U7nP4A-HEeumgJZ1_RcaIg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_U7wZ1A-HEeumgJZ1_RcaIg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_U7wZ1Q-HEeumgJZ1_RcaIg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_U7wZ1g-HEeumgJZ1_RcaIg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_U7wZ1w-HEeumgJZ1_RcaIg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_U7wZ2A-HEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U7wZ2Q-HEeumgJZ1_RcaIg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_U7wZ2g-HEeumgJZ1_RcaIg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_U7wZ0Q-HEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_U7wZ0g-HEeumgJZ1_RcaIg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U7wZ2w-HEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U7wZ0w-HEeumgJZ1_RcaIg" x="34" y="1" width="162" height="53"/>
                        </children>
                        <children xmi:id="_hhLCMQ-HEeumgJZ1_RcaIg" type="Entry" element="_hhLCMA-HEeumgJZ1_RcaIg">
                          <children xmi:id="_hhLCNQ-HEeumgJZ1_RcaIg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_hhLCOA-HEeumgJZ1_RcaIg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_hhLCOQ-HEeumgJZ1_RcaIg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_hhLCOg-HEeumgJZ1_RcaIg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hhLCNg-HEeumgJZ1_RcaIg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hhLCNw-HEeumgJZ1_RcaIg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hhLCMg-HEeumgJZ1_RcaIg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_hhLCMw-HEeumgJZ1_RcaIg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hhLCNA-HEeumgJZ1_RcaIg" x="-4" y="23"/>
                        </children>
                        <children xmi:id="_hgpL0Q-JEeumgJZ1_RcaIg" type="ShallowHistory" element="_hgpL0A-JEeumgJZ1_RcaIg">
                          <children xmi:id="_hgpy4A-JEeumgJZ1_RcaIg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_hgpy4w-JEeumgJZ1_RcaIg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_hgpy5A-JEeumgJZ1_RcaIg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_hgpy5Q-JEeumgJZ1_RcaIg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hgpy4Q-JEeumgJZ1_RcaIg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hgpy4g-JEeumgJZ1_RcaIg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hgpL0g-JEeumgJZ1_RcaIg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_hgpL0w-JEeumgJZ1_RcaIg" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hgpL1A-JEeumgJZ1_RcaIg" x="99" y="128"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zkPbhQ-GEeumgJZ1_RcaIg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_zkPbhg-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zkPbhw-GEeumgJZ1_RcaIg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uEi4oQ-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uEi4og-GEeumgJZ1_RcaIg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uEjftA-GEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uEi4ow-GEeumgJZ1_RcaIg" x="174" y="10" width="563" height="287"/>
                </children>
                <children xmi:id="_gfxPkA-HEeumgJZ1_RcaIg" type="Entry" element="_gfwogA-HEeumgJZ1_RcaIg">
                  <children xmi:id="_gfx2oA-HEeumgJZ1_RcaIg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_gfx2ow-HEeumgJZ1_RcaIg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_gfx2pA-HEeumgJZ1_RcaIg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_gfx2pQ-HEeumgJZ1_RcaIg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gfx2oQ-HEeumgJZ1_RcaIg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gfx2og-HEeumgJZ1_RcaIg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gfxPkQ-HEeumgJZ1_RcaIg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_gfxPkg-HEeumgJZ1_RcaIg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gfxPkw-HEeumgJZ1_RcaIg" x="79" y="95" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tiWxzw-GEeumgJZ1_RcaIg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tiWx0A-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tiWx0Q-GEeumgJZ1_RcaIg"/>
            </children>
            <children xmi:id="_hPB50AoXEeukM93hRv6Zlg" type="Region" element="_1XUz4woOEeukM93hRv6Zlg">
              <children xsi:type="notation:DecorationNode" xmi:id="_hPB50QoXEeukM93hRv6Zlg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB50goXEeukM93hRv6Zlg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_hPB50woXEeukM93hRv6Zlg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_hPB51AoXEeukM93hRv6Zlg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_hPB51QoXEeukM93hRv6Zlg" type="State" element="_9kpaoAoOEeukM93hRv6Zlg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hPB51goXEeukM93hRv6Zlg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB51woXEeukM93hRv6Zlg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hPB52AoXEeukM93hRv6Zlg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hPB52QoXEeukM93hRv6Zlg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hPB52goXEeukM93hRv6Zlg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB52woXEeukM93hRv6Zlg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hPB53AoXEeukM93hRv6Zlg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB53QoXEeukM93hRv6Zlg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hPB53goXEeukM93hRv6Zlg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hPB53woXEeukM93hRv6Zlg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB54AoXEeukM93hRv6Zlg" x="76" y="30" width="206" height="55"/>
                </children>
                <children xmi:id="_hPB54QoXEeukM93hRv6Zlg" type="Entry" element="_CmdHoAoPEeukM93hRv6Zlg">
                  <children xmi:id="_hPB54goXEeukM93hRv6Zlg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_hPB54woXEeukM93hRv6Zlg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB55AoXEeukM93hRv6Zlg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_hPB55QoXEeukM93hRv6Zlg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB55goXEeukM93hRv6Zlg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB55woXEeukM93hRv6Zlg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB56AoXEeukM93hRv6Zlg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_hPB56QoXEeukM93hRv6Zlg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB56goXEeukM93hRv6Zlg" y="46"/>
                </children>
                <children xmi:id="_QvsegA-GEeumgJZ1_RcaIg" type="State" element="_QviGcA-GEeumgJZ1_RcaIg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_QvtsoA-GEeumgJZ1_RcaIg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_QvtsoQ-GEeumgJZ1_RcaIg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_QvuTsA-GEeumgJZ1_RcaIg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QvuTsQ-GEeumgJZ1_RcaIg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Qvu6wA-GEeumgJZ1_RcaIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Qvu6wQ-GEeumgJZ1_RcaIg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Qvu6wg-GEeumgJZ1_RcaIg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_QvsegQ-GEeumgJZ1_RcaIg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Qvsegg-GEeumgJZ1_RcaIg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Qvu6ww-GEeumgJZ1_RcaIg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Qvsegw-GEeumgJZ1_RcaIg" x="230" y="247" width="62" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB6AAoXEeukM93hRv6Zlg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hPB6AQoXEeukM93hRv6Zlg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hPB6AgoXEeukM93hRv6Zlg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1XXQIQoOEeukM93hRv6Zlg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1XXQIgoOEeukM93hRv6Zlg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1XXQKwoOEeukM93hRv6Zlg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1XXQIwoOEeukM93hRv6Zlg" x="54" width="1705" height="457"/>
        </children>
        <children xmi:id="_L3_OUAoYEeukM93hRv6Zlg" type="State" element="_L3-nQAoYEeukM93hRv6Zlg">
          <children xsi:type="notation:DecorationNode" xmi:id="_L3_OVAoYEeukM93hRv6Zlg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L3_OVQoYEeukM93hRv6Zlg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L3_OVgoYEeukM93hRv6Zlg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L3_OVwoYEeukM93hRv6Zlg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L3_OWAoYEeukM93hRv6Zlg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3_OWQoYEeukM93hRv6Zlg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L3_OWgoYEeukM93hRv6Zlg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L3_OUQoYEeukM93hRv6Zlg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L3_OUgoYEeukM93hRv6Zlg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L3_OWwoYEeukM93hRv6Zlg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3_OUwoYEeukM93hRv6Zlg" x="1316" y="546" width="44" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvuVxAoOEeukM93hRv6Zlg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nvpdQQoOEeukM93hRv6Zlg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvuVxQoOEeukM93hRv6Zlg" x="5" y="-5" width="1823" height="1114"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nvzORwoOEeukM93hRv6Zlg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nvzOSQoOEeukM93hRv6Zlg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nvzOSgoOEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nvzOSwoOEeukM93hRv6Zlg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nvzOTAoOEeukM93hRv6Zlg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvzOTQoOEeukM93hRv6Zlg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nvzOTgoOEeukM93hRv6Zlg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nvnBAQoOEeukM93hRv6Zlg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nvnBAgoOEeukM93hRv6Zlg"/>
    <edges xmi:id="_23510QoOEeukM93hRv6Zlg" type="Transition" element="_23510AoOEeukM93hRv6Zlg" source="_nvuVxwoOEeukM93hRv6Zlg" target="_1XXQIAoOEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="_23511QoOEeukM93hRv6Zlg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_23511goOEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_23511woOEeukM93hRv6Zlg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_23510goOEeukM93hRv6Zlg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_23511AoOEeukM93hRv6Zlg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_23510woOEeukM93hRv6Zlg" points="[-2, 1, -99, 48]$[36, 1, -61, 48]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_238SEAoOEeukM93hRv6Zlg" id="(1.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_238SEQoOEeukM93hRv6Zlg" id="(0.03635391918220201,0.030497507956524346)"/>
    </edges>
    <edges xmi:id="_DH9SMQoPEeukM93hRv6Zlg" type="Transition" element="_DH9SMAoPEeukM93hRv6Zlg" source="_hPB54QoXEeukM93hRv6Zlg" target="_hPB51QoXEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="_DH9SNQoPEeukM93hRv6Zlg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DH9SNgoPEeukM93hRv6Zlg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DH9SNwoPEeukM93hRv6Zlg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DH9SMgoPEeukM93hRv6Zlg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DH9SNAoPEeukM93hRv6Zlg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DH9SMwoPEeukM93hRv6Zlg" points="[8, -7, -71, 0]$[71, -7, -8, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DH_ucAoPEeukM93hRv6Zlg" id="(0.3333333333333333,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DH_ucQoPEeukM93hRv6Zlg" id="(0.0425531914893617,0.45283018867924535)"/>
    </edges>
    <edges xmi:id="__xIEkQ-FEeuZiPEv90iBGA" type="Transition" element="__xIEkA-FEeuZiPEv90iBGA" source="_1XXQIAoOEeukM93hRv6Zlg" target="_L3_OUAoYEeukM93hRv6Zlg">
      <children xsi:type="notation:DecorationNode" xmi:id="__xIElQ-FEeuZiPEv90iBGA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__xIElg-FEeuZiPEv90iBGA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__xIElw-FEeuZiPEv90iBGA" x="-6" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__xIEkg-FEeuZiPEv90iBGA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__xIElA-FEeuZiPEv90iBGA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__xIEkw-FEeuZiPEv90iBGA" points="[75, 0, 10, -93]$[75, 89, 10, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__xIEmA-FEeuZiPEv90iBGA" id="(0.7129310344827586,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__xIEmQ-FEeuZiPEv90iBGA" id="(0.4090909090909091,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_RW_IAA-GEeumgJZ1_RcaIg" type="Transition" element="_RW9S0A-GEeumgJZ1_RcaIg" source="_hPB51QoXEeukM93hRv6Zlg" target="_QvsegA-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_RW_vEA-GEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RW_vEQ-GEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RW_vEg-GEeumgJZ1_RcaIg" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RW_IAQ-GEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RW_IAw-GEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RW_IAg-GEeumgJZ1_RcaIg" points="[-6, 0, -19, -174]$[-6, 164, -19, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RXCLUA-GEeumgJZ1_RcaIg" id="(0.8877551020408163,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RXCLUQ-GEeumgJZ1_RcaIg" id="(0.5428571428571428,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_82rQMQ-GEeumgJZ1_RcaIg" type="Transition" element="_82rQMA-GEeumgJZ1_RcaIg" source="_uEi4oA-GEeumgJZ1_RcaIg" target="_2F9KUw-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_82rQNQ-GEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_82rQNg-GEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_82rQNw-GEeumgJZ1_RcaIg" x="46" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_82rQMg-GEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_82rQNA-GEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_82rQMw-GEeumgJZ1_RcaIg" points="[4, 0, -3, 200]$[4, -173, -3, 27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_82rQOA-GEeumgJZ1_RcaIg" id="(0.751207729468599,1.0)"/>
    </edges>
    <edges xmi:id="_g9uW4Q-HEeumgJZ1_RcaIg" type="Transition" element="_g9uW4A-HEeumgJZ1_RcaIg" source="_gfxPkA-HEeumgJZ1_RcaIg" target="_uEi4oA-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_g9u98A-HEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g9u98Q-HEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g9u98g-HEeumgJZ1_RcaIg" x="-15" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g9uW4g-HEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g9uW5A-HEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g9uW4w-HEeumgJZ1_RcaIg" points="[11, -2, -85, 0]$[95, -2, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g9vlAA-HEeumgJZ1_RcaIg" id="(0.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g9vlAQ-HEeumgJZ1_RcaIg" id="(0.002355712603062426,0.30313588850174217)"/>
    </edges>
    <edges xmi:id="_h1iIoQ-HEeumgJZ1_RcaIg" type="Transition" element="_h1iIoA-HEeumgJZ1_RcaIg" source="_hhLCMQ-HEeumgJZ1_RcaIg" target="_U7wZ0A-HEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_h1ivsA-HEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h1ivsQ-HEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h1ivsg-HEeumgJZ1_RcaIg" x="7" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h1iIog-HEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h1iIpA-HEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h1iIow-HEeumgJZ1_RcaIg" points="[-2, -3, -25, -1]$[23, -3, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h1jWwA-HEeumgJZ1_RcaIg" id="(1.0,0.6)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h1jWwQ-HEeumgJZ1_RcaIg" id="(0.0,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_r2B9MQ-HEeumgJZ1_RcaIg" type="Transition" element="_r2B9MA-HEeumgJZ1_RcaIg" source="_uEi4oA-GEeumgJZ1_RcaIg" target="_uEi4oA-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_r2B9NQ-HEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r2B9Ng-HEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r2B9Nw-HEeumgJZ1_RcaIg" x="-22" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r2B9Mg-HEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r2B9NA-HEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r2B9Mw-HEeumgJZ1_RcaIg" points="[382, -76, 402, -76]$[524, -76, 544, -76]$[524, 62, 544, 62]$[-20, 62, 0, 62]$[-20, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r2B9OA-HEeumgJZ1_RcaIg" id="(0.32254697286012524,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r2B9OQ-HEeumgJZ1_RcaIg" id="(0.2860125260960334,1.0)"/>
    </edges>
    <edges xmi:id="_bMYYcQ-JEeumgJZ1_RcaIg" type="Transition" element="_bMYYcA-JEeumgJZ1_RcaIg" source="_U7wZ0A-HEeumgJZ1_RcaIg" target="_2F9KUw-GEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_bMYYdQ-JEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bMYYdg-JEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bMYYdw-JEeumgJZ1_RcaIg" x="10" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bMYYcg-JEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bMYYdA-JEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bMYYcw-JEeumgJZ1_RcaIg" points="[37, -26, -133, 0]$[170, -26, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bMYYeA-JEeumgJZ1_RcaIg" id="(0.7716049382716049,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bMYYeQ-JEeumgJZ1_RcaIg" id="(0.0,0.5094339622641509)"/>
    </edges>
    <edges xmi:id="_ikYgwA-JEeumgJZ1_RcaIg" type="Transition" element="_ikX5sA-JEeumgJZ1_RcaIg" source="_uEi4oA-GEeumgJZ1_RcaIg" target="_hgpL0Q-JEeumgJZ1_RcaIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ikYgxA-JEeumgJZ1_RcaIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ikYgxQ-JEeumgJZ1_RcaIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ikYgxg-JEeumgJZ1_RcaIg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ikYgwQ-JEeumgJZ1_RcaIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ikYgww-JEeumgJZ1_RcaIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ikYgwg-JEeumgJZ1_RcaIg" points="[-149, 0, 1, 87]$[-149, -85, 1, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ikZu4A-JEeumgJZ1_RcaIg" id="(0.49023090586145646,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ikZu4Q-JEeumgJZ1_RcaIg" id="(0.4,0.8)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
